* {
	/*padding: 0;
	margin: 0;*/
	text-decoration: none;
	font-family: comic sans ms;
}


#menu_text{
	background-color: #79cfd4;
	text-align: center;
	padding: 80px;
	margin: 0;

}

nav{
	background-color:#788182 ;
	overflow: hidden;			
}

nav a {
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
}

.menu_left {
	float: left;
}

.menu_right {
	float: right;
}

nav a:hover {
	background-color: #e6dbd1;
	color: #302e2d;
}

#left_side {
	flex: 30%;
	background-color: #d6d6d6;
	padding: 10px;
}

#right_side {
	flex: 70%;
	background-color: white;
	padding: 10px;
}

#flex_container {
	display: flex;
	flex-wrap: nowrap 
}

footer {
	background-color: #303030;
	color: white;
	padding: 10px;
	text-align: center;
}

footer a {
	color: white;
}

table {
	border-style: solid;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px; 
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

@media(max-width: 600px) {
	*{background-color: red;}
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}   
	#flex_container {
		flex-wrap: wrap;
	}
}

@media(max-width: 400px) {
	*{background-color: blue;}
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}